@mixin pi-form-group-control(){
  width: 100%;
  padding: $pi-form-group-control-padding;
  background-color: $pi-form-group-control-bg;
  color: $pi-form-group-control-color;
  border: $pi-form-group-control-border;

  &:focus {
    outline-color: $pi-form-group-control-outline-color;
  }

}


@mixin pi-form-group-label(){
  color: #666666;
}

@mixin pi-form-footer() {
  background-color: $pi-form-footer-bg;
  @include pi-form-footer-padding();
  @include pi-form-footer-margin();
  color: $pi-form-footer-color;
}


/*
 * Form controls
 */

@mixin pi-form-controls(){

}

@mixin pi-form-controls-list() {
  margin: 20px 0;
  padding: 0;
  > li {
    display: inline-block;
  }
}
@mixin pi-sidenav-form-controls-list(){
  > li {
    display: block;
    button, input[type="submit"], input[type="button"], input[type="text"], select {
      width: 100%;
    }
  }
}
@mixin button(){
  @include border-radius($button-border-radius, $button-border-radius);
  text-align: center;
  border: $button-border;
  padding: $button-padding;

  &:hover {
    @include transition($button-transition-default);
    cursor: pointer;
  }

}
@mixin button-primary(){
  @include button();
  background-color: $color-primary;
  color: #ffffff;

  &:active {
    background-color: #98dbba;
  }

  &:disabled {
    background-color: lighten($color-primary, 20);
  }

  &:hover {
    background-color: invert($color-primary);
  }

}
@mixin button-danger(){
  @include button();
  background-color: $color-danger;
  color: #ffffff;

  &:active {

  }

  &:hover {
    background-color: invert($color-danger);
  }
}



@mixin button-large(){
  font-size: 1.6em;
  line-height: 1.6;
  padding: $button-large-padding;
}

.pi-range {
  -webkit-appearance: none;
  width: 160px;
  height: 20px;
  margin: 10px 50px;
  background: linear-gradient(to right, $color-success 0%, #16a085 100%);
  background-size: 150px 10px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  zoom: 130%;
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

input[type="text"], input[type="email"], input[type="password"] {
  max-width: 100%;
}

@mixin pi-form-group-btn(){

  input[type="text"], input[type="email"] {
      @include calc(width, "100% - 2.5em");
      float: left;
      border: 0;
      //width: auto;

      &:focus {
        outline: 0;
      }
    }

  button {
    overflow: visible;
    position: relative;
    float: left;
    width: 2.5em;
  }
}
@mixin pi-form-group-padding() {
  padding: rhythm(1) / 4;
}
@mixin pi-form-group-margin(){
  margin: 0 0 rhythm(1) / 2 0;
}
@mixin pi-form-footer-padding() {
  padding: rhythm(1);
}
@mixin pi-form-footer-margin(){
  margin: 0 0 rhythm(1) / 2 0;
}

/**
 * @name Form
 *
 * @example
 *
 * <form class="form">
 *  <div class="form-group">
 *    <input type="text" class="form-control" />
 *  </div>
 *  <div class="form-footer">
 *    <button class="form-control">Ok</button>
 *  </div>
 * </form>
 *
 * .form {
 *    @include pi-form();
 * }
 * .form-group {
 *    @include pi-form-group();
 * }
 * .form-footer {
 *    @include pi-form-footer();
 * }
 * .form-control {
 *    @include pi-form-control();
 * }
 */
@mixin pi-form() {

}
/**
 * @name Form group
 *
 * @description
 * A group represents a line or a column
 *
 */
@mixin pi-form-group($padding: none) {

  color: $pi-form-group-color;

  input::-webkit-input-placeholder {
    font-weight: normal;
    font-style: italic;
  }

  input:-moz-placeholder {
    font-weight: normal;
    font-style: italic;
  }

  input:-ms-input-placeholder {
    font-weight: normal;
    font-style: italic;
  }

  button {
    border: 0;
    /*padding: 0;*/
    cursor: pointer;

    &:active, &:focus {
      outline: 0;
    }
  }

  button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
  }
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="search"],
textarea {


}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  /* margin-bottom: $line-height-computed; */
  font-size: ($font-size-base * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
  border-bottom: 1px solid $legend-border-color;
}

label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin-bottom: 5px;
  font-weight: bold;
}

// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  @include box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  /*margin: 4px 0 0;*/
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

// Set the height of file controls to match text inputs
input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}
.pi-form-group-btn {
  @include pi-form-group-btn();
}


select {
  @include border-radius(4px, 4px);
  border: solid 1px #ffffff;
  background-color: $color-success;
  color: #ffffff;
}


h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

.select-wrapper select {

  padding: 5px;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.select-wrapper {
  overflow: hidden;
}


input[type="text"], input[type="email"], input[type="password"], input[type="button"], input[type="submit"], button, select {
  font-size: $button-font-size;
  font-family: $button-font-family;
  line-height: $button-line-height;
}
