// WebKit-style focus
@mixin tab-focus() {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
  -moz-box-sizing: $box-model; // Firefox <= 19
  box-sizing: $box-model;
}


@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

/**
 * @name font-size
 * @description
 *
 * Apply font-size with rem
 * Not all browsers support rem, IE8 doesn't
 * @usage
 * p {
 *  @include font-size(12px);
 * }
 */
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}


/**
 * @name Background image with png and svg for retina fallback
 * @description
 *
 * Depends on modernizr.
 * When using this mix you must upload both default extension and svg
 * 
 */
@mixin retina-background-image($name, $size:false){
    background-image: url(#{$image-path}/#{$name}.svg);
    @if($size){
        background-size: $size;
    }
    .no-svg &{
        background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

        @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
          background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
        }
    }
}



/*
 * @usage
 * @include keyframes(slide-down) {
 *  0% { opacity: 1; }
 *  90% { opacity: 0; }
 * }
 *
 * .element {
 *  width: 100px;
 *  height: 100px;
 *  background: black;
 *  @include animation('slide-down 5s 3');
 * }
 */

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }  
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }  
  @keyframes $animation-name {
    @content;
  }
}


@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

/**
 * @name Transition
 * @usage
 * a {
 *  @include transition(color .3s ease);
 * }
 */
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


/**
 * @name Opacity
 * @description
 * 
 * Compatible with IE5+ usinf the alpha filter
 * @usage
 * p {
 *  @include opacity(0.8);
 * }
 */
 @mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


/** 
 * @name Clearfix
 * @description
 *
 * Implementation from Nicolas Gallagher https://twitter.com/necolas
 * @usage
 * .row {
 *  @extend %clearfix;
 * }
 */
%clearfix {
    *zoom: 1;
    &:before, 
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
.visually-hidden {
  @extend %visuallyhidden;
}


@mixin grayscale(){
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); 
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}