%pi-table-data {
	width: 100%;

	thead > tr > td {
		font-weight: bold;
	}

	tbody > tr {
		background-color: $pi-table-tr-bg;
		color: $pi-table-tr-color;

		&:nth-child(even) {
		    background-color: $pi-table-alt-tr-bg;
		    color: $pi-table-alt-tr-color;
		}
	}

	tbody > tr > td {
		&:last-child {
			text-align: right;
		}
	}
}