// grid variables
$grid-columns: 12;
$grid-max-width: 65em;

 $text-color: #000000;

// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

$image-path: '../img' !default;

// SVG background image
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';


/*
 * Modules
 *
 * Global modules
 */
$padding-base-vertical:     6px;
$padding-base-horizontal:   12px;

$padding-large-vertical:    10px;
$padding-large-horizontal:  16px;

$padding-small-vertical:       1px;
$padding-small-horizontal:     5px;

$border-radius-small: 15px;
$border-radius-base: 25px;
$border-radius-large: 37px;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

$component-padding: 15px;
$project-card-border-radius: $border-radius-small;

/*
 * Compass
 */
$default-border-radius: $border-radius-base; //override compass default border
$font-color             : #333;
// Compass Vertical Rhythm Settings
$base-font-size: 16px; // Sets the base font size
$base-line-height: 24px; // Sets the base line height
$base-font-family: 'Arial', sans-serif;
$round-to-nearest-half-line: true; // Allows compass to round to  multiples of 0.5x line height
$rhythm-unit: "em"; // Sets rhythm unit to rem. Remove to use default em unit.



/*
* Screen devices
*/
$screen-mobile: 500px;
$screen-base: 1024px;
$screen-large: 1400px;

/*
 * Colors
 */

$color-primary: #ffeb00;
$color-gray: #8b877e;
$color-danger: #e6625d;
$color-info: yellow;
$color-success: #31b674;

$color-highlight: $color-danger;

/*
 * Table
 */

$pi-table-tr-bg: transparent;
$pi-table-tr-color: $text-color;
$pi-table-alt-tr-bg: $color-gray;
$pi-table-alt-tr-color: #ffffff;


/*
 * Anchors
 */

$link-color: $color-primary;
$link-hover-color: darken($link-color, 15%);

/*
 * Typhography
 */
$text-color: #000000;
$font-size-base:          16px !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px


$font-size-large:         ceil(($font-size-base * 1.25));
$font-size-small:         ceil(($font-size-base * 0.85));

$h1-font-size: 2    * $base-font-size !default;
$h2-font-size: 1.5  * $base-font-size !default;
$h3-font-size: 1.17 * $base-font-size !default;
$h4-font-size: 1    * $base-font-size !default;
$h5-font-size: 0.83 * $base-font-size !default;
$h6-font-size: 0.67 * $base-font-size !default;
$headings-font-family:    inherit;
$headings-font-weight:    400;
$headings-line-height:    1.1;
$headings-color:          inherit;

/*
 * Form
 */
//** Default `.form-control` height
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
//** Large `.form-control` height
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
//** Small `.form-control` height
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;
$legend-color: $text-color;
$legend-border-color: $text-color;


/*
 * z-index
 */
$zindex-navbar:            1000;
$zindex-dropdown:          1000;
$zindex-popover:           1010;
$zindex-tooltip:           1030;
$zindex-navbar-fixed:      1030;
$zindex-modal-background:  1040;
$zindex-modal:             1050;

$border-radius-large: 30px;

//** Global color for active items (e.g., navs or dropdowns).
$module-active-color: #fff;
//** Global background color for active items (e.g., navs or dropdowns).
$module-active-bg: $color-primary;


/*
 * Sassy Buttons
 */
$sb-base-color:      #0bc265;      // Base color of your button
$sb-second-color:    false;        // Optional second color of button gradient
$sb-border-radius:   10px;         // Button border radius
$sb-border-width:    1px;          // Button border width
$sb-padding:         0.5em 1.5em;  // Button padding
$sb-font-size:       20px;         // Button font-size
$sb-line-height:     1.2em;        // Button line-height
$sb-text-color:      white;        // Button text color
$sb-text-style:      "inset";      // Button text shadow style
$sb-gradient-style:  "matte";      // Button gradient style
$sb-auto-states:     true;



/**
 * Navigation Module
 */
$phones: "only screen and (max-width : 420px)";

// turn on indicators on drop down menu (non-mobile)
$showindicators: true;

// ### DROP DOWN STYLES ###

// width of drop down menus
$sub-min-width: 200px;
$sub-max-width: 300px;

$font-size: 12px;
$line-height: 20px;
$padding: 10px;

// horizontal space between nav items at top level
$pi-nav-menu-item-spacing: 10px;

$pi-nav-menu-color: #FFF;
$pi-nav-menu-bg: transparent;
$pi-nav-menu-font: Arial, san-serif;

$pi-nav-menu-hover-color: #000;
$pi-nav-menu-hover-bg: transparent;

$pi-nav-menu-selected-color: #000;
$pi-nav-menu-selected-bg: transparent;

$drop-indicators-color: #FFF;
$drop-indicators-size: 12px;

// ### MOBILE NAVIGATION STYLES ###

// veticale gap between expanded mobile menu and top of browser
$mobile-heading-gap: 80px;

$mobile-font-size: $font-size;
$mobile-item-font: $pi-nav-menu-font;
$mobile-line-height: $line-height;

// size allocated for tap area to trigger sub menus
$mobile-sub-width: 20%;

$mobile-indicators-color: #000;
$mobile-indicators-back-color: #FFF;

//mobile button
$button-markers: #FFF;
$button-back: #AAA;
$button-boder: solid 1px #ffffff;
$button-font-size: 12px; // Sets the base font size
$button-line-height: 15px; // Sets the base line height
$button-font-family: $base-font-family;

$pi-nav-bg: #231f20;

$button-border: 'none';
$button-border-radius: 4px;
$button-padding: 6px 12px;
$button-large-padding: 10px 20px;

$link-transition-default: 0.1s;
$button-transition-default: $link-transition-default;


/**
 * Pi form
 */
$pi-form-footer-bg: #EEEEEE;
$pi-form-group-bg: #dddddd;
$pi-form-group-color: #666666;
$pi-form-group-bg: #ffffff;
$pi-form-group-control-color: #666666;
$pi-form-group-control-bg: transparent;
$pi-form-group-control-outline-color: #ffffff;
$pi-form-group-control-border: solid 1px $color-gray;
$pi-form-group-control-padding: $button-padding;
$pi-form-footer-color: #666666;
